<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon aria-hidden="true" name="triangle"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="universities" href="/tabs/universities">
      <ion-icon aria-hidden="true" name="ellipse"></ion-icon>
      <ion-label>Universities</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="colleges" href="/tabs/colleges.page">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>Colleges</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="bursaries" href="/tabs/bursaries">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>Bursaries</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
