<ion-content [fullscreen]="true">

  <div class="login-page">

    <!-- LEFT SIDE -->

    <div class="login-intro">

      <div class="intro-content">

        <div class="brand">
          <span>Thuto</span><strong>Data</strong>
        </div>

        <h1>
          Your Route<br>
          to University.
        </h1>

        <p>
          Information you can understand.
          Skills you can use.
        </p>

        <div class="intro-points">

          <div class="intro-point">
            <ion-icon name="school-outline"></ion-icon>
            <span>Explore universities and colleges</span>
          </div>

          <div class="intro-point">
            <ion-icon name="cash-outline"></ion-icon>
            <span>Find bursaries and funding opportunities</span>
          </div>

          <div class="intro-point">
            <ion-icon name="book-outline"></ion-icon>
            <span>Learn how to apply</span>
          </div>

        </div>

      </div>

    </div>


    <!-- RIGHT SIDE -->

    <div class="login-container">

      <div class="login-card">

        <div class="mobile-brand">
          <span>Thuto</span><strong>Data</strong>
        </div>

        <div class="login-header">

          <h2>
            Welcome back
          </h2>

          <p>
            Sign in to your ThutoData account
          </p>

        </div>


        <!-- LOGIN FORM -->

        <form
          (ngSubmit)="login()"
          #loginForm="ngForm">


          <!-- EMAIL -->

          <div class="form-group">

            <label for="email">
              Email address
            </label>

            <div class="input-wrapper">

              <ion-icon
                name="mail-outline">
              </ion-icon>

              <input
                id="email"
                name="email"
                type="email"
                [(ngModel)]="email"
                placeholder="Enter your email"
                required>

            </div>

          </div>


          <!-- PASSWORD -->

          <div class="form-group">

            <div class="password-label">

              <label for="password">
                Password
              </label>

              <a href="#">
                Forgot password?
              </a>

            </div>

            <div class="input-wrapper">

              <ion-icon
                name="lock-closed-outline">
              </ion-icon>

              <input
                id="password"
                name="password"
                [type]="showPassword ? 'text' : 'password'"
                [(ngModel)]="password"
                placeholder="Enter your password"
                required>

              <button
                type="button"
                class="password-toggle"
                (click)="togglePassword()">

                <ion-icon
                  [name]="
                    showPassword
                      ? 'eye-off-outline'
                      : 'eye-outline'
                  ">
                </ion-icon>

              </button>

            </div>

          </div>


          <!-- LOGIN BUTTON -->

          <button
            type="submit"
            class="login-button"
            [disabled]="!loginForm.valid">

            Sign In

            <ion-icon
              name="arrow-forward-outline">
            </ion-icon>

          </button>

        </form>

        <div
  class="login-error"
  *ngIf="errorMessage">

  {{ errorMessage }}

</div>

        <!-- REGISTER -->

        <div class="register-section">

          <span>
            Don't have an account?
          </span>

          <a routerLink="/sign-up">
            Create an account
          </a>

        </div>


        <!-- BACK -->

        <div class="back-home">

          <a routerLink="/tabs/home">

            <ion-icon
              name="arrow-back-outline">
            </ion-icon>

            Back to ThutoData

          </a>

        </div>

      </div>

    </div>

  </div>

</ion-content>