<ion-content [fullscreen]="true">

  <div class="more-page">

    <div class="page-header">

      <h1>More</h1>

      <p>
        Explore more ThutoData resources and account options.
      </p>

    </div>


    <div class="options">


      <!-- MY PROFILE -->

      <a
        routerLink="/tabs/profile"
        class="option">

        <div class="icon">
          <ion-icon name="person-circle-outline"></ion-icon>
        </div>

        <div class="option-text">

          <h2>My Profile</h2>

          <p>
            View your account, saved information
            and application journey.
          </p>

        </div>

        <ion-icon
          name="chevron-forward-outline"
          class="arrow">
        </ion-icon>

      </a>


      <!-- GLOSSARY -->

      <a
        routerLink="/glossary"
        class="option">

        <div class="icon">
          <ion-icon name="book-outline"></ion-icon>
        </div>

        <div class="option-text">

          <h2>Glossary</h2>

          <p>
            Understand university and application terms
            in simple language.
          </p>

        </div>

        <ion-icon
          name="chevron-forward-outline"
          class="arrow">
        </ion-icon>

      </a>


      <!-- ABOUT THUTODATA -->

      <a
        routerLink="/about-us"
        class="option">

        <div class="icon">
          <ion-icon name="information-circle-outline"></ion-icon>
        </div>

        <div class="option-text">

          <h2>About ThutoData</h2>

          <p>
            Learn about our project and our mission.
          </p>

        </div>

        <ion-icon
          name="chevron-forward-outline"
          class="arrow">
        </ion-icon>

      </a>


      <!-- SIGN IN -->

      <a
        routerLink="/login"
        class="option">

        <div class="icon">
          <ion-icon name="log-in-outline"></ion-icon>
        </div>

        <div class="option-text">

          <h2>Sign In</h2>

          <p>
            Sign in to your ThutoData account.
          </p>

        </div>

        <ion-icon
          name="chevron-forward-outline"
          class="arrow">
        </ion-icon>

      </a>


      <!-- CREATE ACCOUNT -->

      <a
        routerLink="/sign-up"
        class="option">

        <div class="icon">
          <ion-icon name="person-add-outline"></ion-icon>
        </div>

        <div class="option-text">

          <h2>Create Account</h2>

          <p>
            Create a ThutoData student account.
          </p>

        </div>

        <ion-icon
          name="chevron-forward-outline"
          class="arrow">
        </ion-icon>

      </a>


    </div>

  </div>

</ion-content>
