USE [master]
GO
/****** Object:  Database [ThutoData]    Script Date: 2026/09/01 10:07:02 ******/
CREATE DATABASE [ThutoData]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ThutoData', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ThutoData.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ThutoData_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ThutoData_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ThutoData].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ThutoData]
GO
/****** Object:  Table [dbo].[Career]    Script Date: 2026/09/01 10:07:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Career](
	[CareerID] [int] IDENTITY(1,1) NOT NULL,
	[CareerName] [varchar](150) NOT NULL,
	[CareerDescription] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[CareerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Career_CareerName] UNIQUE NONCLUSTERED 
(
	[CareerName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Course]    Script Date: 2026/09/01 10:07:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Course](
	[CourseID] [int] IDENTITY(1,1) NOT NULL,
	[CourseName] [varchar](200) NOT NULL,
	[QualificationType] [varchar](100) NULL,
	[Description] [text] NULL,
	[DurationYears] [int] NULL,
	[StudyLevel] [varchar](50) NULL,
	[CourseCode] [varchar](50) NULL,
	[MinimumAPS] [int] NULL,
	[EntryRequirements] [varchar](max) NULL,
	[CareerOpportunities] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[CourseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CourseCareer]    Script Date: 2026/09/01 10:07:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CourseCareer](
	[CourseID] [int] NOT NULL,
	[CareerID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CourseID] ASC,
	[CareerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CourseOffered]    Script Date: 2026/09/01 10:07:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CourseOffered](
	[OfferingID] [int] IDENTITY(1,1) NOT NULL,
	[CourseID] [int] NOT NULL,
	[UniversityID] [int] NOT NULL,
	[FacultyID] [int] NOT NULL,
	[APSRequirement] [int] NULL,
	[AdmissionRequirements] [text] NULL,
	[ApplicationInformation] [text] NULL,
	[ApplicationURL] [varchar](500) NULL,
	[SubjectRequirements] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[OfferingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Document]    Script Date: 2026/09/01 10:07:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Document](
	[DocumentID] [int] IDENTITY(1,1) NOT NULL,
	[DocumentName] [varchar](150) NOT NULL,
	[Description] [text] NULL,
	[DocumentType] [varchar](50) NULL,
	[IsRequired] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[DocumentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Faculty]    Script Date: 2026/09/01 10:07:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Faculty](
	[FacultyID] [int] IDENTITY(1,1) NOT NULL,
	[UniversityID] [int] NOT NULL,
	[FacultyName] [varchar](150) NOT NULL,
	[Description] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[FacultyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Funding]    Script Date: 2026/09/01 10:07:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Funding](
	[FundingID] [int] IDENTITY(1,1) NOT NULL,
	[FundingName] [varchar](150) NOT NULL,
	[Provider] [varchar](150) NULL,
	[FundingType] [varchar](50) NULL,
	[Description] [text] NULL,
	[Eligibility] [text] NULL,
	[Deadline] [date] NULL,
	[ApplicationURL] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[FundingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ImportantDate]    Script Date: 2026/09/01 10:07:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImportantDate](
	[DateID] [int] IDENTITY(1,1) NOT NULL,
	[UniversityID] [int] NOT NULL,
	[Title] [varchar](150) NOT NULL,
	[Description] [text] NULL,
	[Date] [date] NOT NULL,
	[DateType] [varchar](50) NULL,
	[URL] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[DateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PinnedCourse]    Script Date: 2026/09/01 10:07:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PinnedCourse](
	[UserID] [int] NOT NULL,
	[CourseID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC,
	[CourseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PinnedUniversity]    Script Date: 2026/09/01 10:07:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PinnedUniversity](
	[UserID] [int] NOT NULL,
	[UniversityID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC,
	[UniversityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[University]    Script Date: 2026/09/01 10:07:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[University](
	[UniversityID] [int] IDENTITY(1,1) NOT NULL,
	[UniversityName] [varchar](150) NOT NULL,
	[Abbreviation] [varchar](20) NULL,
	[Description] [text] NULL,
	[Province] [varchar](50) NULL,
	[City] [varchar](100) NULL,
	[UniversityType] [varchar](50) NULL,
	[WebsiteURL] [varchar](500) NULL,
	[InstitutionType] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[UniversityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UniversityFunding]    Script Date: 2026/09/01 10:07:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UniversityFunding](
	[UniversityID] [int] NOT NULL,
	[FundingID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UniversityID] ASC,
	[FundingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 2026/09/01 10:07:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Email] [varchar](255) NOT NULL,
	[Grade] [int] NULL,
	[Name] [varchar](200) NOT NULL,
	[PasswordHash] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserDocument]    Script Date: 2026/09/01 10:07:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserDocument](
	[UserID] [int] NOT NULL,
	[DocumentID] [int] NOT NULL,
	[IsCompleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC,
	[DocumentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Document] ADD  DEFAULT ((0)) FOR [IsRequired]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT ('') FOR [Name]
GO
ALTER TABLE [dbo].[UserDocument] ADD  DEFAULT ((0)) FOR [IsCompleted]
GO
ALTER TABLE [dbo].[CourseCareer]  WITH CHECK ADD  CONSTRAINT [FK_CourseCareer_Career] FOREIGN KEY([CareerID])
REFERENCES [dbo].[Career] ([CareerID])
GO
ALTER TABLE [dbo].[CourseCareer] CHECK CONSTRAINT [FK_CourseCareer_Career]
GO
ALTER TABLE [dbo].[CourseCareer]  WITH CHECK ADD  CONSTRAINT [FK_CourseCareer_Course] FOREIGN KEY([CourseID])
REFERENCES [dbo].[Course] ([CourseID])
GO
ALTER TABLE [dbo].[CourseCareer] CHECK CONSTRAINT [FK_CourseCareer_Course]
GO
ALTER TABLE [dbo].[CourseOffered]  WITH CHECK ADD  CONSTRAINT [FK_CourseOffered_Course] FOREIGN KEY([CourseID])
REFERENCES [dbo].[Course] ([CourseID])
GO
ALTER TABLE [dbo].[CourseOffered] CHECK CONSTRAINT [FK_CourseOffered_Course]
GO
ALTER TABLE [dbo].[CourseOffered]  WITH CHECK ADD  CONSTRAINT [FK_CourseOffered_Faculty] FOREIGN KEY([FacultyID])
REFERENCES [dbo].[Faculty] ([FacultyID])
GO
ALTER TABLE [dbo].[CourseOffered] CHECK CONSTRAINT [FK_CourseOffered_Faculty]
GO
ALTER TABLE [dbo].[CourseOffered]  WITH CHECK ADD  CONSTRAINT [FK_CourseOffered_University] FOREIGN KEY([UniversityID])
REFERENCES [dbo].[University] ([UniversityID])
GO
ALTER TABLE [dbo].[CourseOffered] CHECK CONSTRAINT [FK_CourseOffered_University]
GO
ALTER TABLE [dbo].[Faculty]  WITH CHECK ADD  CONSTRAINT [FK_Faculty_University] FOREIGN KEY([UniversityID])
REFERENCES [dbo].[University] ([UniversityID])
GO
ALTER TABLE [dbo].[Faculty] CHECK CONSTRAINT [FK_Faculty_University]
GO
ALTER TABLE [dbo].[ImportantDate]  WITH CHECK ADD  CONSTRAINT [FK_ImportantDate_University] FOREIGN KEY([UniversityID])
REFERENCES [dbo].[University] ([UniversityID])
GO
ALTER TABLE [dbo].[ImportantDate] CHECK CONSTRAINT [FK_ImportantDate_University]
GO
ALTER TABLE [dbo].[PinnedCourse]  WITH CHECK ADD  CONSTRAINT [FK_PinnedCourse_Course] FOREIGN KEY([CourseID])
REFERENCES [dbo].[Course] ([CourseID])
GO
ALTER TABLE [dbo].[PinnedCourse] CHECK CONSTRAINT [FK_PinnedCourse_Course]
GO
ALTER TABLE [dbo].[PinnedCourse]  WITH CHECK ADD  CONSTRAINT [FK_PinnedCourse_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[PinnedCourse] CHECK CONSTRAINT [FK_PinnedCourse_User]
GO
ALTER TABLE [dbo].[PinnedUniversity]  WITH CHECK ADD  CONSTRAINT [FK_PinnedUniversity_University] FOREIGN KEY([UniversityID])
REFERENCES [dbo].[University] ([UniversityID])
GO
ALTER TABLE [dbo].[PinnedUniversity] CHECK CONSTRAINT [FK_PinnedUniversity_University]
GO
ALTER TABLE [dbo].[PinnedUniversity]  WITH CHECK ADD  CONSTRAINT [FK_PinnedUniversity_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[PinnedUniversity] CHECK CONSTRAINT [FK_PinnedUniversity_User]
GO
ALTER TABLE [dbo].[UniversityFunding]  WITH CHECK ADD  CONSTRAINT [FK_UniversityFunding_Funding] FOREIGN KEY([FundingID])
REFERENCES [dbo].[Funding] ([FundingID])
GO
ALTER TABLE [dbo].[UniversityFunding] CHECK CONSTRAINT [FK_UniversityFunding_Funding]
GO
ALTER TABLE [dbo].[UniversityFunding]  WITH CHECK ADD  CONSTRAINT [FK_UniversityFunding_University] FOREIGN KEY([UniversityID])
REFERENCES [dbo].[University] ([UniversityID])
GO
ALTER TABLE [dbo].[UniversityFunding] CHECK CONSTRAINT [FK_UniversityFunding_University]
GO
ALTER TABLE [dbo].[UserDocument]  WITH CHECK ADD  CONSTRAINT [FK_UserDocument_Document] FOREIGN KEY([DocumentID])
REFERENCES [dbo].[Document] ([DocumentID])
GO
ALTER TABLE [dbo].[UserDocument] CHECK CONSTRAINT [FK_UserDocument_Document]
GO
ALTER TABLE [dbo].[UserDocument]  WITH CHECK ADD  CONSTRAINT [FK_UserDocument_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[UserDocument] CHECK CONSTRAINT [FK_UserDocument_User]
GO
USE [master]
GO
